.gcloudignore
.git
.github
.idea
.vscode
**/.terraform
**/node_modules
**/target
**/.next
**/.env
**/.env.*
**/tsconfig.tsbuildinfo
**/playwright-report
**/test-results
**/coverage
*.docx
graphify-out
terraform
